.validation-list {
    display: none; /* Hidden by default */
}
.validation-list li {
    list-style-type: none;
    font-size: 0.9rem;
}
.validation-list .valid {
    color: green;
}
.validation-list .invalid {
    color: red;
}